body {
    background-color: #fda2df;
}

.center {
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 25vw;
}

.congrats {
    display: grid;
    justify-content: center;
    font-weight: bolder;
    font-size: 20vw;
    color: white;
    padding-top: 15vh;
}

.we {
    display: grid;
    justify-content: center;
    color: white;
    padding-bottom: 3vh;
}

.boy {
    display: grid;
    justify-content: center;
    font-family: cursive;
    font-size: 10vw;
    color: white;
    padding-left: 1vw;
    padding-bottom: 2.5vh;
}

.and  {
    display: grid;
    justify-content: center;
    color: white;
    padding-bottom: 2.5vh;
    font-size: larger;
}

.girl {
    display: grid;
    justify-content: center;
    font-family: cursive;
    font-size: 10vw;
    color: white;
    padding-left: 1vw;
}

img {
    height: 40%;
    width: 40%;
    padding-top: 90%;
    padding-left: 30vw;
}