body {
    background-color: #fda2df;
}

.fixed-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fc87d5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.box {
    background-color: #fc87d5;
    height: 85vh;
    width: 95vw;
    display: flexbox;
    justify-self:center;
}

.spacing {
    padding-bottom: 3vh;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1vw;
}

strong {
    font-size: 2vw;
    font-style: italic;
}

ul {
    list-style: none;
}

img {
    width: 10vw;
    height: auto;
    display: grid;
    justify-self: center;
}

.cUL {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.cIL {
    flex: 1;
    padding: 20px;
}

li {
    display: grid;
    justify-content: center;
    margin-bottom: -20px;
}

img {
    margin: 40px;
}

.center {
    display: grid;
    justify-content: center;
}