body {
    background-color: #fda2df;
}

p {
    display: grid;
    justify-self: center;
    width: 80%;
    text-align: center;
}

.top {
    display: grid;
    justify-content: center;
    font-weight: bolder;
    font-size: 15vw;
    color: white;
    padding-top: 5vh;
}

.subtop {
    display: grid;
    justify-content: center;
    font-weight: bolder;
    font-size: 8vw;
    color: white;
    padding-bottom: 3vh;
}

.date {
    color: rgb(124, 123, 123);
    display: grid;
    justify-content: center;
    font-size: larger;
    text-decoration: underline;
}

.img-inline {
    display: inline-block;
    width: 40%; 
    vertical-align:top;
    margin-right: 1%;
    padding-left: 7vw;
}

.img-inline img {
    width: 90%;
    height: auto;
    display: block; }


.ig {
    padding-bottom: 3vh;
}

.stPG {
    width: 70%;
    height: auto;
    display: grid;
    justify-self: center;
}

.fixed-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fc87d5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
