body {
    background-color: #fda2df;
}

.center {
    display: grid;
    justify-items: center;
    padding-top: 4vh;
}

.big{
    font-size:5vw;
    color: white;
    font-weight: bold;
    padding-bottom: 3vh;
}


.mid {
    color: white;
    padding-bottom: 3vh;
    font-size: 2vw;
}

img {
    height: auto;
    width: 20vw;
    padding-top: 5vh;
}


.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fc87d5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
